/* general */
@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Rokkitt-Light';
  src: url('../webfonts/Rokkitt-Light.eot');
  src: url('../webfonts/Rokkitt-Light.woff2') format('woff2'),
       url('../webfonts/Rokkitt-Light.woff') format('woff'),
       url('../webfonts/Rokkitt-Light.ttf') format('truetype'),
       url('../webfonts/Rokkitt-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../webfonts/Montserrat-Bold.eot');
  src: url('../webfonts/Montserrat-Bold.woff2') format('woff2'),
       url('../webfonts/Montserrat-Bold.woff') format('woff'),
       url('../webfonts/Montserrat-Bold.ttf') format('truetype'),
       url('../webfonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* margins */
.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 360px) {
  .container {
  	padding-right: 32px;
	  padding-left: 32px;
  }
}

@media (min-width: 400px) {
  .container {
  	padding-right: 36px;
	  padding-left: 36px;
  }
}

@media (min-width: 480px) {
  .container {
  	padding-right: 40px;
	  padding-left: 40px;
  }
}

@media (min-width: 560px) {
  .container {
  	padding-right: 44px;
	  padding-left: 44px;
  }
}

@media (min-width: 640px) {
  .container {
  	padding-right: 48px;
	  padding-left: 48px;
  }
}

@media (min-width: 720px) {
  .container {
  	padding-right: 48px;
	  padding-left: 48px;
  }
}

@media (min-width: 800px) {
  .container {
  	padding-right: 48px;
	  padding-left: 48px;
  }
}

@media (min-width: 960px) {
  .container {
  	padding-right: 52px;
	  padding-left: 52px;
  }
}

@media (min-width: 1120px) {
  .container {
  	padding-right: 52px;
		padding-left: 52px;
  }
}

@media (min-width: 1280px) {
  .container {
  	padding-right: 56px;
		padding-left: 56px;
  }
}

@media (min-width: 1440px) {
  .container {
  	padding-right: 72px;
		padding-left: 72px;
  }
}

@media (min-width: 1600px) {
  .container {
  	padding-right: 88px;
		padding-left: 88px;
  }
}

@media (min-width: 1760px) {
  .container {
  	padding-right: 104px;
		padding-left: 104px;
  }
}

@media (min-width: 1920px) {
  .container {
  	padding-right: 120px;
		padding-left: 120px;
  }
}

@media (min-width: 2080px) {
  .container {
  	padding-right: 136px;
		padding-left: 136px;
  }
}

@media (min-width: 2240px) {
  .container {
  	padding-right: 152px;
		padding-left: 152px;
  }
}

@media (min-width: 2400px) {
  .container {
  	padding-right: 168px;
		padding-left: 168px;
  }
}

@media (min-width: 2560px) {
  .container {
  	padding-right: 184px;
		padding-left: 184px;
  }
}

@media (min-width: 2720px) {
  .container {
  	padding-right: 192px;
		padding-left: 192px;
  }
}

@media (min-width: 2880px) {
  .container {
  	padding-right: 200px;
	  padding-left: 200px;
  }
}

@media (min-width: 3040px) {
  .container {
  	padding-right: 208px;
	  padding-left: 208px;
  }
}

@media (min-width: 3200px) {
  .container {
  	padding-right: 216px;
	  padding-left: 216px;
  }
}

@media (min-width: 3360px) {
  .container {
  	padding-right: 224px;
	  padding-left: 224px;
  }
}

@media (min-width: 3520px) {
  .container {
  	padding-right: 232px;
	  padding-left: 232px;
  }
}

@media (min-width: 3680px) {
  .container {
  	padding-right: 240px;
	  padding-left: 240px;
  }
}

@media (min-width: 3840px) {
  .container {
  	padding-right: 248px;
	  padding-left: 248px;
  }
}

/* container rows */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-small-5, .col-small-6, .col-small-7, .col-small-8, .col-small-9, .col-small-10, .col-small-11, .col-small-12, .col-sm,
.col-small-auto, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-medium-7, .col-medium-8, .col-medium-9, .col-medium-10, .col-medium-11, .col-medium-12, .col-md,
.col-medium-auto, .col-large-1, .col-large-2, .col-large-3, .col-large-4, .col-large-5, .col-large-6, .col-large-7, .col-large-8, .col-large-9, .col-large-10, .col-large-11, .col-large-12, .col-lg,
.col-large-auto, .col-extra-large-1, .col-extra-large-2, .col-extra-large-3, .col-extra-large-4, .col-extra-large-5, .col-extra-large-6, .col-extra-large-7, .col-extra-large-8, .col-extra-large-9, .col-extra-large-10, .col-extra-large-11, .col-extra-large-12, .col-xl,
.col-extra-large-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 640px) {
  .col-small {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-small-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-small-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-small-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-small-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-small-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-small-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-small-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-small-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-small-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-small-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-small-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-small-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-small-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-small-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-small-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-small-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-small-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-small-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-small-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-small-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-small-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-small-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-small-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-small-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-small-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-small-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-small-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-small-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-small-0 {
    margin-left: 0;
  }
  .offset-small-1 {
    margin-left: 8.333333%;
  }
  .offset-small-2 {
    margin-left: 16.666667%;
  }
  .offset-small-3 {
    margin-left: 25%;
  }
  .offset-small-4 {
    margin-left: 33.333333%;
  }
  .offset-small-5 {
    margin-left: 41.666667%;
  }
  .offset-small-6 {
    margin-left: 50%;
  }
  .offset-small-7 {
    margin-left: 58.333333%;
  }
  .offset-small-8 {
    margin-left: 66.666667%;
  }
  .offset-small-9 {
    margin-left: 75%;
  }
  .offset-small-10 {
    margin-left: 83.333333%;
  }
  .offset-small-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 960px) {
  .col-medium {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-medium-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-medium-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-medium-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-medium-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-medium-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-medium-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-medium-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-medium-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-medium-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-medium-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-medium-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-medium-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-medium-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-medium-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-medium-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-medium-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-medium-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-medium-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-medium-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-medium-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-medium-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-medium-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-medium-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-medium-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-medium-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-medium-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-medium-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-medium-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-medium-0 {
    margin-left: 0;
  }
  .offset-medium-1 {
    margin-left: 8.333333%;
  }
  .offset-medium-2 {
    margin-left: 16.666667%;
  }
  .offset-medium-3 {
    margin-left: 25%;
  }
  .offset-medium-4 {
    margin-left: 33.333333%;
  }
  .offset-medium-5 {
    margin-left: 41.666667%;
  }
  .offset-medium-6 {
    margin-left: 50%;
  }
  .offset-medium-7 {
    margin-left: 58.333333%;
  }
  .offset-medium-8 {
    margin-left: 66.666667%;
  }
  .offset-medium-9 {
    margin-left: 75%;
  }
  .offset-medium-10 {
    margin-left: 83.333333%;
  }
  .offset-medium-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1120px) {
  .col-large {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-large-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-large-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-large-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-large-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-large-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-large-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-large-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-large-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-large-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-large-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-large-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-large-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-large-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-large-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-large-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-large-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-large-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-large-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-large-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-large-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-large-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-large-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-large-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-large-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-large-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-large-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-large-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-large-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-large-0 {
    margin-left: 0;
  }
  .offset-large-1 {
    margin-left: 8.333333%;
  }
  .offset-large-2 {
    margin-left: 16.666667%;
  }
  .offset-large-3 {
    margin-left: 25%;
  }
  .offset-large-4 {
    margin-left: 33.333333%;
  }
  .offset-large-5 {
    margin-left: 41.666667%;
  }
  .offset-large-6 {
    margin-left: 50%;
  }
  .offset-large-7 {
    margin-left: 58.333333%;
  }
  .offset-large-8 {
    margin-left: 66.666667%;
  }
  .offset-large-9 {
    margin-left: 75%;
  }
  .offset-large-10 {
    margin-left: 83.333333%;
  }
  .offset-large-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1600px) {
  .col-extra-large {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-extra-large-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-extra-large-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-extra-large-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-extra-large-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-extra-large-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-extra-large-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-extra-large-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-extra-large-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-extra-large-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-extra-large-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-extra-large-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-extra-large-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-extra-large-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-extra-large-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-extra-large-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-extra-large-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-extra-large-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-extra-large-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-extra-large-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-extra-large-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-extra-large-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-extra-large-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-extra-large-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-extra-large-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-extra-large-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-extra-large-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-extra-large-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-extra-large-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-extra-large-0 {
    margin-left: 0;
  }
  .offset-extra-large-1 {
    margin-left: 8.333333%;
  }
  .offset-extra-large-2 {
    margin-left: 16.666667%;
  }
  .offset-extra-large-3 {
    margin-left: 25%;
  }
  .offset-extra-large-4 {
    margin-left: 33.333333%;
  }
  .offset-extra-large-5 {
    margin-left: 41.666667%;
  }
  .offset-extra-large-6 {
    margin-left: 50%;
  }
  .offset-extra-large-7 {
    margin-left: 58.333333%;
  }
  .offset-extra-large-8 {
    margin-left: 66.666667%;
  }
  .offset-extra-large-9 {
    margin-left: 75%;
  }
  .offset-extra-large-10 {
    margin-left: 83.333333%;
  }
  .offset-extra-large-11 {
    margin-left: 91.666667%;
  }
}