.site-header {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(13,13,13,0.4);
  font-family: 'Rokkitt-Light';
  font-size: 18px;
}

a.menu-link {
	display: block;
	width: 75px;
	margin: auto auto;
  padding: 15px;
  transition-duration: 0.3s;
  text-align: center;
}

a.menu-link.active {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

nav[role=navigation] {
	clear: both;
	-webkit-transition: all 0.3s ease-out;  
		 -moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			 -o-transition: all 0.3s ease-out;
			    transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
  overflow: hidden;
	max-height: 0;
}

nav[role=navigation].active {
	max-height: 500px;
}

nav[role=navigation] ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

nav[role=navigation] li a {
  display: block;
  padding: 25px 15px;
	text-decoration: none;
	color: inherit;
	-webkit-transition: color 0.3s ease-out;  
		 -moz-transition: color 0.3s ease-out;
			-ms-transition: color 0.3s ease-out;
			 -o-transition: color 0.3s ease-out;
			    transition: color 0.3s ease-out;
}

nav[role=navigation] li a:hover {
	color: #f00000;
}
		
@media screen and (min-width: 992px) {
	a.menu-link {
		display: none;
	}
	.js nav[role=navigation] {
		max-height: none;
	}
	nav[role=navigation] ul {
		margin: 0 0 0 -0.25em;
		border: 0;
	}	
	nav[role=navigation]  li {
		display: inline-block;
		margin: 0 0.25em;
	}
	nav[role=navigation] li a {
		border: 0;
	}
}





